/**
 * LAYOUT
 */
$width-mobile-device: 600px;
$width-gutter: 20px;

/**
 * COLORS
 */
$fire-engine-red: #ac1414;
$tuna-grey: #464b54;
$white: #fff;

$color-device-border: $tuna-grey;
$color-secondary-bg: $fire-engine-red;
$color-secondary-text: $white;
