@import "../style/variables";

.filterAndFetchingIndicator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #ac1414;
	color: white;
	font-size: 20px;

	@media screen and (max-width: $width-mobile-device) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.filterAndFetchingIndicator__filter {
	@media screen and (max-width: $width-mobile-device) {
		margin-bottom: 16px;
	}
}

.filterAndFetchingIndicator__fetchingStatus {
	text-align: right;

	@media screen and (max-width: $width-mobile-device) {
		text-align: left;
	}
}

.filterAndFetchingIndicator__spinner {
	display: inline-block;
}

.filterAndFetchingIndicator__spinner--active {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
