.filterAndFetchingIndicator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 20px;
}

.filterAndFetchingIndicator__fetchingStatus {
	text-align: right;
}

.filterAndFetchingIndicator__spinner {
	display: inline-block;
}

.filterAndFetchingIndicator__spinner--active {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
