.filterAndFetchingIndicator {
	display: flex;
}

.filterAndFetchingIndicator__spinner {
	display: inline-block;
}

.filterAndFetchingIndicator__spinner--active {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
